.article-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toolbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 -1px 4px rgb(0 21 12);
    padding: 0 1rem;
}
.toolbar-action-container{
    display: flex;
}
.toolbar-action-container button{
    margin-right: .8rem;
}